.roboto-thin {
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", serif;
    font-weight: 900;
    font-style: italic;
}


body {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto", serif;
    background-image: url("./assets/bg-page.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    background-color: #f4f4f4;
    opacity: 0.95;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    width: 50%;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.app-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
    margin-bottom: 40px;
}

.app-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}

.app-icon {
    width: 250px;
    height: 250px;
    margin-right: 50px;
    border-radius: 50px;
}

.app-name {
    margin-bottom: 10px;
}

.app-name h1 {
    font-size: 100px;
    margin: 0;
}

.app-name h2 {
    font-size: 20px;
    margin: 0;
    margin-bottom: 10px;
    margin-top: -10px;
    margin-left: 10px;
}

.app-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.app-links a {
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    color: #f5f5f5;

}

.download-button {
    font-size: 40px;
    padding: 20px 80px;
    background-color: #007bff;
    border: none;
    color: #fff;
    border-radius: 20px;
    text-decoration: none;
}

.download-button:hover {
    background-color: #f5f5f5;
    color: #007bff;
    border: 2px solid #007bff;
    padding: 18px 78px;
}

.app-carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.carousel img {
    width: 50%;
    max-width: 250px;
    height: auto;
    scroll-snap-align: center;
    margin: 0 10px;
}

.app-description {
    width: 100%;
    max-width: 600px;
    font-size: 20px;
    background-color: #e1e1e1;
    padding: 50px;
    border-radius: 10px;
    margin: 60px 0;
    text-align: justify;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.links a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    margin: 0 10px;
}

.app-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-footer a {
    color: #000;
}

.app-footer a:hover {
    color: #007bff;
}

@media (max-width: 1450px) {
    .container {
        width: 90%;
        padding: 10px;
    }

    .app-label {
        flex-direction: column;
        align-items: center;
    }

    .app-icon {
        width: 150px;
        height: 150px;
        margin-right: 0;
        margin-bottom: 0px;
    }

    .app-name h1 {
        font-size: 50px;
    }

    .app-name h2 {
        font-size: 16px;
    }

    .app-description {
        padding: 30px;
        font-size: 18px;
        width: 75%;
    }

    .download-button {
        font-size: 30px;
        padding: 15px 40px;
    }

    .carousel img {
        width: 80%;
        max-width: 200px;
    }

    .links a {
        font-size: 18px;
    }
}